[2018-08-23 08:53] odedpriva opened #3 "accept namespace"
Hi,

That is a great project.

Please allow the script to accept namespace as a parameter

[2018-08-25 14:33] eldadru commented on #3
#4

please review

[2018-09-16 06:43] #3 closed

[2018-10-10 17:49] eldadru opened #6 "tcpdump command line use packet buffering"
To get packets sniffed on the remote pod displayed on our local wireshark as soon as possible, we should disable tcpdump packet buffering default feature.
"Use the -U flag to cause packets to be written as soon as they are received."

[2018-10-10 18:36] eldadru commented on #6
Done in #7

[2018-10-10 18:36] #6 closed

[2018-10-11 02:23] magick93 opened #8 "recipe for target 'static-tcpdump' failed"
When I try to install I'm getting the following error:

[code]

[2018-10-11 04:41] eldadru commented on #8
It seems your machine is missing the libpcap-dev package which is required for tcpdump compilation.
you should first install it with something like "apt-get install libpcap-dev" and retry.

BTW - I'm aware that this part of the installation is a bit complicated and keep thinking about methods to improve it, if i'll ship a precompiled static tcpdump binary with the installation, will you feel comfo

[2018-10-11 05:11] magick93 commented on #8
Thanks @eldadru  - that worked.

Personally I would prefer to install from source.

[2018-10-11 05:11] #8 closed

[2018-10-11 21:25] magick93 opened #9 "pod not found"
When I run `k plugin sniff my-product-api-c97484d9b-bn6d6 -n my-product-api`

I get

[code]

But, when I run `k describe pod my-product-api-c97484d9b-bn6d6 -n my-product-api` then I am getting the expected result.

# Versions

Client Version: v1.10.4
Server Version: v1.11.1

[2018-10-11 21:59] eldadru commented on #9
It looks like the namespace "my-product-api" is not correctly passed to the script, I'm saying that because the first line of the attached output: "[+] Sniffing on pod: my-product-api-c97484d9b-bn6d6 container:  namespace: " displays the passed namespace as empty space which means the namespace was not passed correctly.
You should have the following output:
"[+] Sniffing on pod: my-product-api-c97

[2018-10-11 23:21] magick93 commented on #9
Thanks @eldadru

I believe so. I just pulled and built to plugin today.

v1.10.4

re-run your command line and post the result here.

Ok, I edited the `.sh` file, but when I run ksniff via kubectl again, the changes are not picked up.

When I run `./ksniff.sh my-product-8d7599548-vk24f -n my-product` I get:

[code]

[2018-10-11 23:53] magick93 opened #10 "cannot access /static-tcpdump: No such file or directory"
See also #9 - I just hardcoded the namespace value at the top of `ksniff.sh`.

Now, when I run `./ksniff.sh my-product-8d7599548-vk24f` I get the following:

[code]

[2018-10-11 23:59] eldadru commented on #10
ksniff.sh doesn't find static-tcpdump in his PWD
"error: lstat static-tcpdump: no such file or directory"

the static tcpdump should be placed on the folder ~/.kube/plugins/sniff
you can do it with "make install-static-tcpdump"

You will also have to install wireshark:
"./ksniff.sh: line 48: wireshark: command not found"

[2018-10-12 00:02] eldadru commented on #9
-n should only be effective when running via kubectl, the environment variable passed to ksniff.sh by kubectl runtime so running ksniff.sh with -n won't work.

"the changes are not picked up." why?  it's have to, maybe you have two different ksniff.sh instances?
the one kubectl execute is placed in ~/.kube/plugin/sniff/ksniff.sh, you should edit this one.

[2018-10-12 00:03] eldadru opened #11 "Support kubectl 1.12"
The plugin support changed in kubectl 1.12, support it:
https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

[2018-10-15 17:42] znorris commented on #9
I'm able to reproduce this after a new install of ksniff.

ksniff ver: `71c9147ba34ca6a7a43c316c1941802d03f92108` (latest master)
kubectl ver:
[code]

Adding `set -x` to the script I see:
[code]

[2018-10-15 18:51] eldadru commented on #9
OK, I think I found it.

I used KUBECTL_PLUGINS_LOCAL_FLAG_NAMESPACE instead of KUBECTL_PLUGINS_CURRENT_NAMESPACE to retrieve the current namespace.

I used a fairly old version of kubectl (1.8.7) that did support that, In the more recent versions (1.10+) it's not supported anymore and only KUBECTL_PLUGINS_CURRENT_NAMESPACE will work.

I created a fix #12 and tested it with kubectl 1.10 and it see

[2018-10-17 05:08] eldadru commented on #9
Merged the fix, closing the issue.
if it doesn't resolve the issue for you, please reopen the bug.

[2018-10-17 05:08] #9 closed

[2018-10-17 05:08] #10 closed

[2018-10-18 16:35] znorris commented on #9
@eldadru That fixed it for me. Thank you for creating such a handy tool!

[2018-10-18 16:56] eldadru commented on #9
@znorris awesome!

Thanks for the feedback, please keep reporting bugs/suggesting improvements :)

[2018-10-25 10:11] #11 closed

[2018-10-25 10:16] eldadru opened #13 "Move to native client"
In kubectl 1.12, the plugin subsystem changed completely, new model introduced to support more use-cases and more powerful plugins.

Refactor ksniff, move to golang based native client. use new kubectl capabilities to improve plugin UX

[2018-11-01 19:53] SleepyBrett commented on #8
As someone working from an osx machine it seems like you should build these dependencies in a docker container if they are missing.

[2018-11-01 23:36] eldadru commented on #8
@SleepyBrett thanks for the great offer!
I'm thinking a lot about making ksniff installation and usage more simple.

I think I will ship a pre-compiled static tcpdump alongside the project, providing such container will be a great helper for those preferring to compile the binary on their own.

[2018-11-14 19:36] eldadru commented on #13
Done as part of #14

[2018-11-14 19:36] #13 closed

[2018-11-28 21:54] aweimeow opened #17 "Unrecognized libpcap format or not libpcap data"
## Experiment Environment

* OS: MacOS Mojave 10.14.1
* Cluster:
    * Client: kubectl v1.12.3, installed from brew
    * Server: Kubernetes v1.10.11

## What do I do?

I have configured my kubectl to control remote cluster, so this operation is on my laptop, I am trying to use sniff to dump packet traffic go through K8S Pod.

[code]

And wireshark shows the following message:
![image](https://use

[2018-11-28 22:05] eldadru commented on #17
Thanks for the detailed issue,

Let's try the following:

- Verify that the static tcpdump is running correctly on the remote pod: when getting the error, exec into the remote pod and verify that it's running using "ps aux". If not, exec into the container and manually try to run /tmp/static-tcpdump - do you get an error? which one?

- If the static tcpdump run correctly, try to run ksniff with ou

[2018-11-28 22:07] aweimeow commented on #17
Hello Eldad, thanks for quick reply,

for first question, I don't find tcpdump executable in `/tmp`

[code]

[2018-11-28 22:16] eldadru commented on #17
If for some reason ksniff failed to upload tcpdump to the remote container the capture will fail.

Are you sure you executed into the container "mme" of the pod "mme-0" (I can't see that from kubectl output)?

Is uploading files using kubectl works fine with that pod? (ksniff upload files in a very similar way)

[2018-11-28 23:12] aweimeow commented on #17
Yes, I can ensure I am in the mme container.
And I tried to upload tcpdump manually, it works, please help me with checking following log :)

[code]

I think the problem is why sniff can't upload to the pod now ;)

[2018-11-28 23:30] aweimeow commented on #17
Yes, after I uploaded tcpdump manually, wireshark can work perfectly.

and I have change the tcpdump location do the executable path assignment:

[code]

but the error message same as first time. I think it's some bug make macOS can't upload executable into pod.

[2018-11-28 23:34] eldadru commented on #17
OK, thanks for the detailed info.
I'll try again on macOS soon and update with my findings.

For now, please use the workaround (manually uploading tcpdump using kubectl).

[2018-11-28 23:35] aweimeow commented on #17
Sure, thanks so much for your help 👍

[2018-11-29 23:52] eldadru commented on #17
I've tried similar conditions on macOS, couldn't reproduce this issue.

To better investigate it I created a new version of ksniff (1.2.0) which include a verbose flag and better verification of the upload process.

Please manually upgrade your version (i'll update krew index later) by downloading the zip (https://github.com/eldadru/ksniff/releases/download/v1.2.0/ksniff.zip) and unpacking the dar

[2018-11-29 23:58] aweimeow commented on #17
Hello Eldad,

Here is the log, still can't work, please have a check.

[code]

[2018-11-30 00:27] aweimeow commented on #17
I am guessing if my kuberctl version and the way I control cluster (remotely) cause this bug, because according your log have `verifying tcpdump uploaded successfully`, then it indicated the tcpdump script should exist on `/tmp/`. But I checked with it, there is an empty directory.

Might be bug of other software?

[2018-11-30 01:00] eldadru commented on #17
Very weird, according to the verbose output, everything looks fine but the file isn't on the remote path.

I used exactly the same environment as yours and it still works for me:
[code]

Is there anything unusual about your kubectl/cluster/container?  is it a public container which I can try to pull by myself and try to reproduce?

Long shot: what is the version of tar on the remote pod? (tar --ve

[2018-11-30 01:56] aweimeow commented on #17
I'll try with a public accessible container and do the experiment again :) because this container is private image file.

[code]

[2018-12-04 16:21] eldadru opened #20 "support containers running as non-privileged user"
Tcpdump execution requires root, some containers runs as non-root user, support those use-cases as well.

[2018-12-05 02:56] aweimeow commented on #17
@eldadru Sorry for late reply, I'm too busy in these 2 days.
After tested, ksniff can work now, many thanks to your fix, this plugin worked perfectly and helped me a lot  👍

[2018-12-05 02:56] #17 closed

[2019-01-10 15:42] mmack opened #21 "Error: No Auth Provider found for name "oidc""
I get this error:

[code]

[code]

Any idea was happening here?

[2019-01-10 22:50] jordanwilson230 opened #22 "Error compiling static-tcpdump on Mac"
```make darwin``` works fine, but ```make static-tcpdump``` gives the following output:

[code]

The config.log output: [config.log](https://github.com/eldadru/ksniff/files/2747326/config.log)

Also note that running the plugin via Krew results in another error: https://github.com/GoogleContainerTools/krew-index/issues/48

The error I see when running via krew seems related to the other open issue

[2019-01-11 12:10] eldadru commented on #21
First, thank you very much for using and reporting issues in ksniff!

It seems that in order to support OIDC and GCP auth providers I had to import those directly,
I merged the fix and released a new version that should fix that: https://github.com/eldadru/ksniff/releases/download/v1.2.2/ksniff.zip

Please download the new release and replace your local binary of ksniff with the one from the new r

[2019-01-11 12:18] eldadru commented on #22
First, thank you very much for using and reporting issues in ksniff!

Regard tcpdump compilation failure: at the moment "make static-tcpdump" isn't supported and not really needed for macOS machines - ksniff use static tcpdump to sniff on remote containers which are mostly running on x64 Linux machines.

The required static-tcpdump binary is shipped alongside ksniff in both krew and on the release

[2019-01-11 12:40] mmack commented on #21
I'm not using gcp. Its a bare metal cluster on premise.

[2019-01-11 12:50] eldadru commented on #21
I'v added the "oidc" auth provider as well, which seems to be the issue in your case - did you try the new version and it failed?

[2019-01-11 15:03] jordanwilson230 commented on #22
Thanks, @eldadru! I will give it a shot sometime today.

[2019-01-11 16:01] jordanwilson230 commented on #22
@eldadru its working great, very neat!  I see it won't run on non-privileged containers (understandable), but was wondering if there might be someway that you could combine a part of my plugin ```kubectl krew install exec-as``` as a workaround?  It will connect to any pod as root, regardless of privileges set on the container.  The code is [here](https://github.com/jordanwilson230/kubectl-plugins/

[2019-01-11 16:03] jordanwilson230 commented on #20
@eldadru would this workaround help? https://github.com/jordanwilson230/kubectl-plugins#kubectl-ssh

[2019-01-12 01:16] ottoyiu opened #25 "ksniff fails when tar is not installed in container"
ksniff fails when running tar if it does not exist. This is the verbose logs when running on an image that has a statically compiled binary in a Docker 'scratch' image.

[code]

[2019-01-12 15:16] eldadru commented on #25
It's sort of a known issue, ksniff (and kubectl as well) use tar to upload files to the container, if it's missing than the upload fails.

I do agree that ksniff should first verify that the remote container has "tar" before trying to upload.
In the future we should have support for containers without "tar" - such as scratch containers.
We might do that as part of #20 I'm still thinking about that

[2019-01-12 15:21] eldadru commented on #22
Awesome!

Regard non-privileged containers - that what I had in mind, I came by your plugin and planned to use the same technique for ksniff as well. I'm trying to find a solution that will work for scratch containers as well.

Anyway, I'm closing this issue, lets continue the non-privileged discussion on #20

[2019-01-12 15:21] #22 closed

[2019-01-17 12:42] eldadru commented on #21
@mmack closing the issue for now, please reopen if the fix didn't resolved it for you.

[2019-01-17 12:42] #21 closed

[2019-03-11 12:53] StianOvrevage opened #27 "cannot allocate memory"
Installed ksniff in Ubuntu on WSL (Windows subsystem for Linux) but it does not run, or give any useful information:

[code]

[2019-03-11 21:10] eldadru commented on #27
@StianOvrevage thanks for using ksniff and reporting this issue :)
Personally, I never tested ksniff on WSL, I did tried ksniff on native windows machine and it worked.

I tried to look for the error string and found many similar issues, i.e:
https://github.com/Microsoft/WSL/issues/1019
https://github.com/Microsoft/WSL/issues/1563

I believe it's a WSL issue
Anyway, can you please try to run ksnif

[2019-03-14 07:57] mindw opened #29 "krew index still lists 1.2.1"
Can it be updated please?

[2019-03-14 14:35] eldadru commented on #29
Sure, will  open a PR with upgrade today, thanks for reaching out

[2019-03-14 21:59] eldadru commented on #29
Opened PR for krew-index, waiting for approval

[2019-03-14 22:42] eldadru commented on #29
Krew index upgraded to version 1.2.5

[2019-03-14 22:42] #29 closed

[2019-03-20 13:24] eldadru commented on #27
Closing this issue, if issue reproduced please open another issue

[2019-03-20 13:24] #27 closed

[2019-03-21 08:14] eldadru commented on #20
Hi @jordanwilson230 I finally have the time to work on this issue,
I would like ksniff to also support scratch containers so i will use similar approach to what kubectl-ssh does except I won't exec into the target container but attach to his network namespace and perform the actual sniffing on the attached container.

[2019-03-21 14:15] eldadru commented on #25
OK, this issue will be addressed as part of #20 which will also support scratch containers :)

[2019-03-21 14:15] #25 closed

[2019-03-22 15:42] eldadru commented on #20
Completed as part of #30 , please play with it, test it and report bugs :)

[2019-03-22 15:42] #20 closed

[2019-03-24 21:55] eldadru opened #31 "end to end testing"
To improve project reliability, we would like to have e2e testing:

1. Setup kubernetes cluster (or use existing one)
2. Install many kubectl versions
3. sniff on remote pod in the kubernetes cluster
4. verify the outcome has expected network traffic

[2019-03-24 22:09] eldadru opened #32 "automatically open pull request for new version for krew-index"
Ksniff can be installed as part of the krew kubectl plugin manager.
krew use krew-index (https://github.com/GoogleContainerTools/krew-index) a repository that used as krew plugin store, each plugin has it's own yaml file with the plugin description that includes its version, its binary package location and its hash.

In order to upgrade a plugin in krew one has to update the plugin yaml to have th

[2019-03-28 20:34] eldadru opened #33 "In privileged mode, ksniff leave behind the attached container"
In privileged mode we create a new privileged container on the remote kubernetes node that attaches to the target container network namespace to perform the network capture.

ksniff doesn't remove that container when it finish, solve that

[2019-03-28 21:16] eldadru commented on #33
fixed as part of #34

[2019-03-28 21:16] #33 closed

[2019-04-05 09:42] xt99 opened #36 "Support privileged mode for CRI-O runtime"
Hello there!

We are using OpenShift with default security in place so we have no option not to use ksniff privileged mode. But also we're using CRI-O instead of Docker runtime. Currently ksniff supports only Docker runtime for privileged mode. Do you have any plans to support CRI-O  runtime for privileged mode?

PS: Thanks for a great tool!

[2019-04-05 16:36] eldadru commented on #36
Hi @xt99 ,

Thanks for using ksniff and opening this issue.

CRI-O support wasn't on the roadmap, I'll take a quick look to understand what it requires and update here.

[2019-04-11 18:22] RevREB opened #37 "Minimum required RBAC for user to successfully sniff"
I am wondering if you've done any tuning on figuring out what the minimum required RBAC permissions for a user would been to be to get a successful sniff.

[2019-04-11 18:23] RevREB commented on #37
Side note this tool is awesome.

[2019-04-11 18:58] eldadru commented on #37
Hi @RevREB thanks for using ksniff, glad you liked it!

I didn't check the minimum required permissions, I guess that the privileged mode requires higher permissions as it's creating new pod with access to the hosting node.

The upload mode will probably require less permissions because it's only execute tcpdump on existing pod.

In case you will have more detailed answer, it will be super helpful

[2019-04-11 23:12] RevREB commented on #37
I'm still gonna dig into it later... but does this basically just exec into the pod and and run tcpdump and pipe the stdout back across the wire?

[2019-04-12 06:36] eldadru commented on #37
Yeah, what you described is the "exec mode"
Privileged mode is different:

- Deploy new pod with access to docker daemon unix socket file

- From the new privileged pod, create new docker container on the same node which attaches to the target pod network namespace.

- exec tcpdump on our new container, pipe stdout over the wire

[2019-04-12 17:01] RevREB commented on #37
ok, ill play with RBAC this weekend and find the Lowest required perms.

[2019-04-17 03:06] pnovotnak opened #38 "Respect namespace set in kubectl context"
ksniff should respect the namespace set in the user's kubectl context

[2019-04-17 03:13] pnovotnak opened #39 "Capture all pods matching a label"
I think it'd be really cool if one could pass a selector and have ksniff run tcpdump on all matching pods

[2019-04-21 19:53] eldadru commented on #37
Closing for now, @RevREB if you did found the minimum required permissions, please open a pull request with your findings - thanks!

[2019-04-21 19:53] #37 closed

[2019-06-06 18:28] karlmutch opened #40 "Couldn't run /usr/bin/dumpcap in child process: Permission denied"
Running sniff in a privileged, or unprivileged pod results in the wireshark client posting an error dialog box, "Couldn't run /usr/bin/dumpcap in child process: Permission denied".  Examining the target pod I find this executable is not present in both the priv and unpriv cases.

I think modified the Dockerfile to pull in wireshark-common and now get 'operation not permitted'.

These containers ar

[2019-06-06 19:57] eldadru commented on #40
Hi @karlmutch,

Thanks for using Ksniff and posting this issue!

It seems like wireshark related issue, specifically permissions issue, take a look here:
https://askubuntu.com/questions/458762/how-to-enable-wireshark-without-running-as-root-in-trusty-14-04

Eldad

[2019-06-07 11:42] eldadru commented on #39
@pnovotnak - can you elaborate more on the use case? how will you use such feature?

[2019-06-07 20:58] karlmutch commented on #40
Thanks for the suggestions I incorporated them but had no luck.  I also added a setcap command:

[code]

To no avail.  I have had other things interrupt and had to move to the next thing but thought I'd include references for the future in the event anyone has bandwidth to retest.

https://wiki.wireshark.org/CaptureSetup/CapturePrivileges#Debian.2C_Ubuntu_and_other_Debian_derivatives
https://githu

[2019-06-08 20:52] #40 closed

[2019-06-13 14:04] jemygraw commented on #38
I think this has been added in the latest version of sniff.

[2019-08-13 17:26] ahmetb opened #43 "Using with "brew install wireshark""
I just did `brew install wireshark` on my macOS, it doesn't seem to be installing a Wireshark binary, so the plugin is not finding it:

[code]

I think it would be good to have some instructions on how to get it up and running on macOS.

[2019-08-18 23:47] DylanGraham opened #44 "Invoking with `kubectl-sniff` produces error"
[code]

Using `kubectl sniff` works as expected.

[2019-08-19 00:50] DylanGraham commented on #43
I think `brew cask install wireshark` is what's needed

[2019-08-19 03:46] ahmetb commented on #43
Ah interesting. I guess “brew install wireshark” installed something else possibly.

[2019-08-21 19:50] grzesuav commented on #32
@eldadru do you have any idea in mind ?

Because there exist tool exactly for that : https://github.com/renovatebot/renovate/

but support for krew plugins files would need to be added.

[2019-08-21 20:19] eldadru commented on #39
Closing because of no activity/interest

[2019-08-21 20:19] #39 closed

[2019-08-28 17:35] ryancox opened #45 "Tests failing looking for undefined symbol NewSniffOptions"
[code]

[2019-08-28 17:36] ryancox opened #46 "Travis Script does not call go test"
CI should run tests. This could be added explicitly in the yaml or as a new dependency in the Makefile

[2019-08-28 17:48] eldadru commented on #46
Totally agree - tests should always run as part of the CI.

That what I'm implementing as part of https://github.com/eldadru/ksniff/tree/31-add-end-to-end-tests

Beside UT, it will include e2e test suite - spin up a local k8s cluster - sniff on remote pods both in the tcpdump upload and privileged mode and check output.

[2019-08-28 17:49] eldadru commented on #45
See my comment on https://github.com/eldadru/ksniff/issues/46, will be resolved as part of this branch.

[2019-08-28 17:49] eldadru commented on #44
I reproduced that on my machine - why do you need to run the ksniff binary by itself instead of running it as part of the kubectl cli?

[2019-08-28 17:59] eldadru opened #47 "Validate new version introduced on ci builds"
Each new feature merged into master should advance the plugin semver.
To guarantee that, add a check into the CI pipeline that validates this commit has newer version that the master has.

[2019-08-28 22:13] DylanGraham commented on #44
Maybe this should be non-executable if it shouldn't be run?

[2019-09-20 15:39] eldadru commented on #47
Done as part of #48

[2019-09-20 15:39] #47 closed

[2019-09-22 11:53] adipascu commented on #20
I am getting `static-tcpdump: any: You don't have permission to capture on that device` on a nginx container that defaults to running as the `www-data` user.

I am running knsiff 1.3.1

[2019-09-22 14:39] eldadru commented on #20
@adipascu add "-p" to your command line to invoke ksniff in privileged mode

[2019-09-24 17:49] adipascu commented on #20
Thanks!  @eldadru why not do it privileged by default?

[2019-10-03 05:19] abhishek-jain11 opened #49 "Unable to run with kubectl 1.8"
After `make install`, kubectl stops working and gives below error
[code]

kubectl version:
[code]

[2019-10-21 11:07] eldadru commented on #49
Hi @abhishek-jain11, kubectl plugins are not supported for version 1.8, you should use a newer version if you'd like to use plugins (1.12 is the minimum as far as I recall)

[2019-10-21 11:07] #49 closed

[2019-11-14 23:24] corneliusweig opened #50 "[krew] Distribute with license"
:wave: Hello, maintainer of the kubectl plugin manager [krew](https://github.com/kubernetes-sigs/krew) here.

Thank you for your commitment to open source by making this plugin available via `krew`!

Krew wants to give credit where credit is due by installing the proper license file for the plugins it distributes. However, your plugin was found to not contain any license file. We wanted to remind

[2019-12-03 15:54] binnythomas-1989 opened #52 "Error: No Auth Provider found for name "azure""
When i run kubectl sniff i get this, no documentation to show how to fix this.

[2019-12-03 16:21] binnythomas-1989 commented on #52
@eldadru  Any update on this would be deeply appreciated.

[2019-12-12 20:51] Makusi75 opened #53 "How to exit and cleanup after running ksniff with -o option?"
In some test scripts I sometimes use ksniff to sniff a container and save to output to a capture file by use the "-o" flag to ksniff, for example:

kubectl sniff <pod> -c <container> -o <capture-file>

I also tried to use the "-p" flag for priviledge mode that starts a new pod.

But when I try to stop/quit the ksniff, either by "ctrl-c" or let my script kill the ksniff process, then the "ksniff"-p

[2019-12-22 23:58] corneliusweig commented on #50
Ping @eldadru. Can you take a look at this, so that `krew` can install your license?

[2020-01-17 21:29] #46 closed

[2020-01-17 21:29] #43 closed

[2020-01-27 23:28] christian-posta opened #55 "cannot seem to pass a filter correctly"
[code]

[2020-01-28 19:41] eldadru commented on #55
Amm, looks like a shell issue, I executed the same command (for different pod) and the filter successfully received by ksniff:

`INFO[0000] sniffing method: privileged pod
INFO[0000] using tcpdump path at: '/Users/eldadru/.krew/store/sniff/v1.3.1/static-tcpdump'
INFO[0000] no container specified, taking first container we found in pod.
INFO[0000] selected container: 'echoserver'
INFO[0000] sniffin

[2020-01-28 19:43] #44 closed

[2020-02-02 10:08] rajatjindal commented on #32
Hi @eldadru

I have created [krew-release-bot](https://github.com/rajatjindal/krew-release-bot) to auto publish new plugin releases to krew-index repo.

If its ok with you, I can open a PR to start using that for auto publishing the releases or you can look at the [travis](https://github.com/rajatjindal/krew-release-bot/blob/master/examples/travis.yml) example here, and configure it.

Many thanks

[2020-02-02 19:02] eldadru commented on #32
@rajatjindal that's a great idea, please open the PR, thanks!

[2020-02-03 17:03] rajatjindal commented on #32
opened pr #56

[2020-02-03 20:31] sshayb opened #57 "Couldn't run /usr/sbin/dumpcap in child process: Permission denied"
Getting this from wireshark after trying to use ksniff for the first time "kubectl sniff <podid>":

Couldn't run /usr/sbin/dumpcap in child process: Permission denied
Are you a member of the 'wireshark' group? Try running
'usermod -a -G wireshark _your_username_' as root.

Interfaces on the wireshark screen appear to be "null".
When executing "kubectl exec <podid> -it id" I am getting root.

[2020-02-04 14:49] joemiller opened #58 "allow for customizing the wireshark command executed"
Would you consider an option to allow for specifying an alternative to the exec'ing the wireshark GUI?

For example, I think it would be interesting to run sniff and connect the pcap output to tshark or https://github.com/gcla/termshark

I'd be happy to work on a PR for this if it is something you would be OK including.

Perhaps via a flag like `-w/--wireshark-bin=/path`

[2020-02-04 22:19] eldadru commented on #57
Did you execute 'usermod -a -G wireshark your_username' as root.' as root?

It requires in order to successfully run wireshark without sudo

[2020-02-04 22:23] eldadru commented on #58
Sure, feel free to open a PR.

I think it will be more "unix idiomatic" to export ksniff pcap output to stdout and pipe it to another tool for display - what do you think?

[2020-02-04 22:27] #45 closed

[2020-02-04 22:39] eldadru commented on #32
@rajatjindal - great work, thanks again! closing this issue.

[2020-02-04 22:39] #32 closed

[2020-02-05 16:37] eldadru commented on #50
Resolved by @vic3lord as part of #59 - thanks!

@corneliusweig - please approve this resolves this issue

[2020-02-05 18:18] joemiller commented on #58
@eldadru That makes sense to me. It looks like this is already happening with wireshark.

Are you proposing a generic option to pipe ksniff's output to stdout instead an option to start another binary? maybe something like:

[code]

[2020-02-05 20:06] corneliusweig commented on #50
Hey, thanks for taking care of this! :+1:

[2020-02-05 20:06] #50 closed

[2020-02-07 16:35] eldadru commented on #58
@joemiller - that was exactly my intention, thanks for taking the time to implement this feature and supporting ksniff!

[2020-02-07 16:35] #58 closed

[2020-02-08 13:22] #55 closed

[2020-02-13 15:34] #57 closed

[2020-02-17 12:56] jonny-wg2 opened #61 "Add label to ksniff pod"
It would be great to have a label to the ksniff pod so I can do filtering and whitelisting of resources in my k8s cluster.

For example, adding a label `app=ksniff` would be great so I can then identify the resource using
[code]

Current ksniff pod

[code]

[2020-02-20 15:52] binnythomas-1989 commented on #52
@eldadru Would be great if we could get an update?

[2020-02-20 15:55] eldadru commented on #52
I started digging into this one, I think it's pretty straight forward, I'll try to merge my fix in the near days.
See: https://github.com/eldadru/ksniff/tree/52-support-azure

[2020-02-20 19:51] binnythomas-1989 commented on #52
Thanks man! Appreciate it. @eldadru

[2020-02-21 21:33] eldadru commented on #52
I merged #62 to have azure support, @binnythomas-1989 please confirm it resolves this issue.

[2020-02-24 11:24] binnythomas-1989 commented on #52
@eldadru  Good job mate! It works now.. Really useful.
@nfoerster  Please reinstall ksniff and retry now it should be okay.

[2020-02-24 11:24] #52 closed

[2020-02-26 03:48] yashbhutwala opened #63 "wireshark not able to run by default despite it being installed on macOS"
[code]

[code]

[2020-02-28 21:03] MEGrimshaw commented on #63
I had this issue when using wireshark installed by homebrew.
I ended up downloading the DMG from wireshark directly, and found that when I opened the DMG it had a file "Add Wireshark to the system path" along with "Install Chmod BPF".
I installed those, restarted my computer and got passed that error.

[2020-02-28 21:13] MEGrimshaw opened #64 "static-tcpdump: any: You don't have permission to capture on that device"
Running on EKS v 1.13 and getting this when trying to capture pod traffic:

`INFO[0000] running in verbose mode
INFO[0000] sniffing method: upload static tcpdump
DEBU[0000] searching for tcpdump binary using lookup list: '[ /Users/mgrimshaw/.krew/store/sniff/v1.4.1/static-tcpdump /usr/local/bin/static-tcpdump /Users/mgrimshaw/.kube/plugin/sniff/static-tcpdump]'
DEBU[0000] tcpdump binary was not fo

[2020-02-28 21:52] MEGrimshaw commented on #64
I WAS missing something
...the `-p` flag.  Eg `k sniff example-pod-name-sc9q9 -p`

I'm going to close this issue, but want it to be available for anyone searching for:
ksniff exitCode: '1', stdErr :'static-tcpdump: any: You don't have permission to capture on that device (socket: Operation not permitted) '
Thanks!

[2020-03-03 13:35] hendrikmaus commented on #63
Another OSX user here, I could not make ksniff work with Wireshark 3.x, neither manual install nor homebrew packages and casks.

However, the solution for me was to use the latest 2.x release:
- Select your closest mirror from the list https://www.wireshark.org/download.html#spelunking
- Search for the latest 2.x version
- e.g. in Europe, I used https://1.eu.dl.wireshark.org/osx/Wireshark%202.6.15

[2020-03-04 14:28] mudged opened #65 "Using ksniff on microk8s (containerd container runtime)"
Hi,

I've had ksniff working with a minikube deployment with no issues. I've switched to microk8s and am now getting the following error.

`ERRO[0000] failed to create privileged pod on node: 'mudged-laptop'  error="container runtime on node: 'mudged-laptop' isn't docker"`

From what I can see this is down to microk8s using containerd as the container runtime.

Firstly am I right in my assumption?

[2020-03-04 19:48] eldadru commented on #65
Hi @mudged,

Thank you for using ksniff!

You are right, at the moment the privileged mode is only work with a k8s running with a docker runtime.
We do plan to support other container runtimes, see https://github.com/eldadru/ksniff/issues/36

I'm evaluating the new support for debug containers which might resolve this issue once and for all.

As a possible workaround, you can try the non-privilege

[2020-03-09 14:21] mudged commented on #65
Hi @eldadru,

Thanks for your response. Unfortunately in my scenario I cannot run in non-privileged mode as the target containers run with a restricted user.

[2020-03-16 21:00] jonny-wg2 commented on #61
@eldadru could you point me in the right direction so I can help making the PR?

[2020-03-21 08:16] aviramha commented on #53
#66 Fixes this

[2020-03-24 07:10] Makusi75 commented on #53
Thanks! :-) @aviramha , @eldadru are there any plan to soon make a new release with this included available? That would be great! :-)

[2020-04-20 16:23] lordofthejars commented on #65
👍

[2020-05-08 16:59] sebradloff commented on #63
Thanks @hendrikmaus. That worked for me as well just as you described.

[2020-05-13 13:28] y0zg opened #67 "How to troubleshoot distroless images"
It's not an issue at all, but I wonder what  are the options rather than change the image if I need to sniff the traffic on distroless image

[2020-06-16 13:52] gechr commented on #63
Got it working with Wireshark 3.x as follows:

[code]

[2020-06-30 13:00] mstrYoda opened #70 "support context parameter"
Currently we can not specify context by --context parameter to sniff. We can use it with native kubectl parameters like:

`kubectl get pods -n foo --context some-context`

I am volunteer to implement this feature.

[2020-07-01 05:47] eldadru commented on #70
Sure, @mstrYoda - feel free to go ahead and implement it.

[2020-07-01 18:11] #61 closed

[2020-07-03 04:57] eldadru commented on #67
Hi @y0zg , I'm sorry to respond so late to your question.

The privilege mode (-p) should work for distroless containers as well as scratch containers.

[2020-07-03 04:59] #63 closed

[2020-07-13 16:07] #70 closed

[2020-07-15 20:52] y0zg commented on #67
distroless images also have `:debug` option which provides a busybox shell to enter

[2020-07-15 20:52] #67 closed

[2020-07-17 17:58] jmvbxx opened #72 "command: '[/tmp/static-tcpdump -i any -U -w - ]' executing successfully exitCode: '126'"
After running `kubectl sniff <POD> -n <NAMESPACE>` I get the following output with error:

[code]

Any thoughts on what might be causing this?

[2020-07-21 05:36] mkt-mohit commented on #9
ngpe72mgtb26 ~# kubectl sniff -n mvnr-paas     istio-pilot-5cc98fd795-bczx6
INFO[0000] sniffing method: upload static tcpdump
INFO[0000] using tcpdump path at: '/root/.krew/store/sniff/v1.4.2/static-tcpdump'
INFO[0000] no container specified, taking first container we found in pod.
INFO[0000] selected container: 'discovery'
INFO[0000] sniffing on pod: 'istio-pilot-5cc98fd795-bczx6' [namespace: 'mv

[2020-07-21 07:52] mkt-mohit opened #73 "exit status 1"
ngpe72mgtb26 ~# kubectl sniff -n mvnr-paas istio-pilot-5cc98fd795-bczx6
INFO[0000] sniffing method: upload static tcpdump
INFO[0000] using tcpdump path at: '/root/.krew/store/sniff/v1.4.2/static-tcpdump'
INFO[0000] no container specified, taking first container we found in pod.
INFO[0000] selected container: 'discovery'
INFO[0000] sniffing on pod: 'istio-pilot-5cc98fd795-bczx6' [namespace: 'mvnr-p

[2020-07-28 08:47] rsteppac opened #74 "Use tcpdump in container with read-only file system"
Hello,

Is there an option to use the `tcpdump` already installed in the target container in cases where the container file system is mounted read-only?

Thanks!
Ralf

[2020-07-28 08:49] rsteppac opened #75 "Specify docker repository"
Hello,

is it possible to specify a docker repository from where to download the privileged container? We don't have access to external repositories from the cluster. Instead we need to pull all images through an internal mirror.

Thanks!
Ralf

[2020-08-11 11:23] wuestkamp opened #76 "set Pod creation timeout via argument"
`Error: failed to create pod within timeout (1m0s)`

Would be nice if we could change it because my pod takes 70s to get ready^^

[2020-08-18 17:49] bostrt commented on #65
Hi @eldadru,

Do you have an idea of when support for debug containers will be added to ksniff? In other words, will you be waiting for the feature to leave alpha and beta first?

I'm trying to gauge if I should submit a PR for this issue (and #36) or write up a separate solution in the meantime.

Thanks for all the hard work on ksniff so far!

[2020-08-20 17:04] bitva77 commented on #73
having the same issue here

[2020-09-02 02:11] segeva opened #78 "Provide a private docker repository as a source of the 'docker' image used with the -p option"
The privileged option ( -p ) requires that the K8S cluster has access to the public docker repository (to pull the 'docker' image)
In cases where the cluster does not have this access for security reasons, it will be useful to be able to provide the private container registry hostname that has the required 'docker' image.

[2020-09-02 02:49] segeva commented on #78
image option already there

[2020-09-02 04:21] bostrt commented on #78
Yeah, I think this is a good idea. I work with a lot people using offline or somehow network-restricted clusters and copying dependent images around to satisfy a tool can be a huge pain or not an option.

ksniff would need to be modified to check the given container image has the necessary binaries (tcpdump, docker, nsenter, i think that's it).

[2020-09-07 15:25] bostrt commented on #75
Looks like this is same sort of request as #78.

[2020-09-08 18:55] kppullin commented on #72
Have you tried using the `-v` (verbose) flag or the `-p` (privileged, start another container) flag?

I ran across a similar failure, and with the verbose logs I saw that the upload of tcpdump failed due to the container having a read-only filesystem.  Spawning a separate debug container via the `-p` flag let me work around this.

[2020-09-19 19:06] #36 closed

[2020-09-25 17:39] bostrt commented on #38
AFAIK this is still an issue in v1.5.0. I'll check into it and submit a PR.

[2020-09-30 17:48] #38 closed

[2020-10-07 14:37] ffais opened #82 "Error when run ksniff in privileged mode"
After running `kubectl sniff -p <POD> -c <CONTAINER_NAME> -n <NAMESPACE>`.
I'm using AKS Kubernetes v1.17.11.

ksniff version:
`sniff          v1.5.0`
[code]

[2020-10-07 15:55] bostrt commented on #82
Hey @ffais, I made some changes related to privileged pod usage in ksniff v1.5.0. Sorry to hear something isn't working right for you.

Can you make sure that docker is up-and-running on the node `aks-d8sv3-38575711-vmss000001` and you can execute docker commands normally (just `docker ps` would be fine).

Are you seeing this issue with ksniff every time you try to run it?

Lastly, does the `ksnif

[2020-10-07 16:39] ffais commented on #82
Hi @bostrt,
docker is up-and-running on every node, this is the output of `docker ps` command:
[code]

And this is the output of ksniff pods:

[code]
Sometimes i see this error:

[code]

[2020-10-07 16:55] pnovotnak opened #83 "Upload broken when context flag specifies alternative cluster v1.5.0"
[code]
[code]

[code]

[2020-10-07 17:13] pnovotnak commented on #83
Hmm, actually this seems to be a read-only fs issue

[2020-10-07 17:34] bostrt commented on #82
Good find! In most Linux systems `/var/run` is a symlink to `/run` (per [FHS](https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s13.html)) so interesting that AKS Nodes don't have that!

AFAIK, It should be safe to use `/run/docker.sock` (referencing the same FHS link above). I'll do some searching around to make sure it won't introduce more problems. Or, if we should be checking for `docker.so

[2020-10-07 17:35] #76 closed

[2020-10-07 17:37] eldadru commented on #82
Nice find and research! maybe we can dynamically locate the docker sock path? might also be future proof and a more robust solution.

[2020-10-07 23:25] bostrt commented on #82
About the only way I can think of dynamically locating the docker socket path would be using `lsof`, `netstat`, or `ss`, then filtering one of those commands' output for `dockerd`.
Another (less future proof) option might be to switch the docker command in ksniff to use `/run/docker.sock` since that *should* be globally default and then add yet another ksniff flag to specify a custom docker socket

[2020-10-07 23:32] bostrt commented on #83
Is the fs inside the target Pod read-only? This might be similar to https://github.com/eldadru/ksniff/issues/74

[2020-10-07 23:33] pnovotnak commented on #83
Yea, sorry let's close this for now

[2020-10-07 23:33] #83 closed

[2020-10-08 09:32] ffais opened #84 "Error when run ksniff in privileged mode and ksniff isn't the first container of the pod"
Hi,
I'm trying to use ksniff with Istio 1.7.3 with config option `values.global.proxy.holdApplicationUntilProxyStart ` enabled, which causes the sidecar injector to inject the sidecar at the start of the pod’s container list.

I'm now getting the following error.
[code]

I try with this temporary workaround and everything is working fine (sorry but I'm not a developer).
https://github.com/ffais/ks

[2020-10-08 17:27] bostrt commented on #84
Yep, looks like Istio can automatically injecting sidecar as first container as you suggested. I think you're along the right path in using the `ksniff-privleged` container name instead of trying to pull it from the container list in the Pod.

@ffais would you like to submit a PR or leave it to ksniff devs to make the change?

[2020-10-09 11:21] ffais commented on #84
@bostrt I have submitted a PR, hope will be helpful.

[2020-10-13 21:53] jarojasm95 commented on #82
would a try/catch pattern work well here? check if `/var/run/docker.sock` exists, otherwise check if `/run/docker.sock` exists, use the first match

[2020-10-13 22:17] bostrt commented on #82
@jarojasm95 imo that's the best way. Using a dynamic method like I mentioned in https://github.com/eldadru/ksniff/issues/82#issuecomment-705244633 would add more dependencies to the images used by ksniff and benefit might not be as great.

[2020-10-14 17:19] jarojasm95 commented on #82
@bostrt I've put up a PR here - https://github.com/eldadru/ksniff/pull/86

[2020-10-14 20:38] bostrt commented on #65
With the additions of 1f01100 there logic to detect the container runtime based on `containerRuntimeVersion` field of Node resource. I'm finding that microk8s and k3s both have `containerRuntimeVersion: containerd://1.3...`. However, microk8s and k3s both use different tools to communicate with container runtime (microk8s uses `microk8s.ctr` and k3s uses `crictl`). I'm checking now if there's a to

[2020-10-14 20:41] bostrt commented on #65
To be clear, it would be good to support both microk8s and k3s through changes for this issue.

[2020-10-20 05:34] namco1992 opened #87 "Mount only the docker.sock file instead of the whole root path of the host"
When the pod is created, it mounts the whole `/` host path under the `/host` path of the pod.
https://github.com/eldadru/ksniff/blob/798b1c7dec735bd2cdc925e7c840ee623b9ffde1/kube/kubernetes_api_service.go#L149

However, when the [Service Account Admission Manager](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#service-account-admission-controller) came into the pla

[2020-10-20 15:55] bostrt commented on #87
Hi @namco1992 thanks for opening this issue! There's a few things to unravel here..

The last ksniff release shipped with support for multiple container runtimes. Right now, just Docker and CRI-O, but I'm looking into containerd as well (k3s, microk8s). I think there's some room for improvement in terms of selectively mounting what is needed for ksniff to function and I'm open to suggestions. Howe

[2020-10-22 11:02] namco1992 commented on #87
Hello @bostrt Thank you for the reply!

For the first question, I believe that even though the user should understand the risk of using the privileged mode, ksniff should only mount the minimum path it needs. For example, for docker runtime, this should be sufficient:
[code]

For the second question, although I'm not 100% sure but I would like to give my 2 cents:
1. ksniff mount the `/` hostPath t

[2020-10-24 19:20] bostrt commented on #87
Sorry for the delay. Regarding your first point. I completely agree. It is feasible to have ksniff to selectively mount but we must keep issues like https://github.com/eldadru/ksniff/pull/86 in mind. That's something I didn't consider in the original implementation.

Regarding the second issue, I *think* I understand it now but want to ask one more question to hopefully solidify it:

In your test

[2020-10-24 19:26] bostrt commented on #87
I think this is it! I just compared RHEL/Fedora and Ubuntu/Debian container images and they do indeed symlink `/var/run` differently! Interesting difference and likely a cause of problems when mounting all of `/`.

I would certainly welcome a PR resolving this and happy to review it.

[2020-10-25 07:58] namco1992 commented on #87
Yes indeed, today I also learned something new, thanks! I will create a PR then.

[2020-10-25 09:40] namco1992 commented on #87
@bostrt IMO #86 is trying to fix it from the facade behavior instead of the root cause. I believe that if we mount the sock file precisely it shouldn't need to "guess" the sock file path.

I propose to make 2 changes:
1. Have a default socket path for each runtime (e.g. `/var/run/docker.sock` for docker, `/run/containerd/containerd.sock` for containerd, etc.)
2. Accept an argument for passing in t

[2020-10-25 14:26] bostrt commented on #87
@namco1992 Agreed. We didn't arrive to a real root cause during conversation for the changes in #86.

Yes and yes, I think both of these are the best options. We briefly touched on this in #82 but unknowingly dismissed it since the root cause wasn't really known.

I'll update it asking to hold (or just close the PR) the changes per this conversation.

[2020-10-25 15:39] namco1992 commented on #87
@bostrt great! I would come out with the PR soon, thanks!

[2020-11-08 20:17] muhammad-fahad2068 opened #88 "Error: exec: "wireshark": executable file not found in $PATH"
Hi, I am using macos and i have installed wireshark

I tried sniffing one of my pods using the command

kubectl sniff pod-name -n namespace

and below is where its erroring out

Error: exec: "wireshark": executable file not found in $PATH

can you let me know how this can be resolved in macos

[2020-11-30 04:32] bostrt commented on #87
hi @namco1992! I wanted to follow-up and see if you have made any progress on a PR.

[2020-11-30 06:03] namco1992 commented on #87
Hello @bostrt sorry I was occupied with work stuffs recently, I'm in the middle of it, should be able to submit the PR on Wednesday (UTC+8).

[2020-12-10 04:28] slient2010 commented on #72
Maybe you should use `-c` (specified container) to specify a container which you want to observe.

[2020-12-10 05:45] slient2010 commented on #88
+1, MacOS can't find the wireshark $PATH.

here is my solution, hope it can help you.

1. open your terminal(or iterm) on MacOS.

2. add a file named `wireshark` with contents below.
[code]
add those contents to your `wireshark` file and save it.
[code]

3. chmod the `wireshark` file.
[code]

4. try again, this tool will work.

[code]

[2020-12-14 03:43] namco1992 commented on #87
Hello @bostrt just kindly remind you that I've created the PR, thanks!

[2020-12-14 18:30] bostrt commented on #87
thanks @namco1992! we'll have to await @eldadru to review and merge if everything checks out.

[2020-12-17 13:44] halradaideh commented on #82
when the issue expected to be resolved ?

[2020-12-19 21:39] bostrt commented on #82
@halradaideh I'll be reviewing the PR soon.

In the meantime, you may try rolling back to ksniff v1.4.2 to see if that helps.

[2020-12-24 15:14] cscarpitta commented on #65
Hi,
I'd like to use ksniff on containerd in privileged mode. Unfortunately, the non-privileged mode is not possible in my situation.
Do you plan to implement this feature soon? Is there any workaround to use ksniff on containerd when the target container runs with a restricted user?

Thanks,
Carmine

[2020-12-24 23:36] bostrt commented on #88
Closing this out assuming @slient2010's reply solve the issue. If you are still having problems, please reopen @muhammad-fahad2068!

[2020-12-24 23:36] #88 closed

[2020-12-24 23:37] bostrt commented on #78
I'll work on this after some other higher priority changes (around new cri-o support) are being wrapped up.

[2020-12-25 21:33] bcm1992 commented on #72
I had the same exit code 126.
[code]
In my case, the target cluster is ARM64 (Rasberry Pi), and compiling static-tcpdump on an ARM host fixed the issue.
1. Copile static-tcpdump on an ARM64 linux. ( `git clone` and `make static-tcpdump` )
2. Copy the static file to the target pod.  ( `kubectl cp ./static-tcpdump <target-pod>:/tmp/static-tcpdump` )
3. Run `kubectl sniff` to the pod

[2021-01-14 04:26] scodeman opened #94 "Lighter runtime footprint"
Running the plugin, ksniff containers are remaining on disk with a fair amount of disk space due to logging of standard output on  disk.
Suggestion for docker runtime is to:
- make docker call ephemeral with `--rm` argument
- make the network capture stdout not saved on file with `--log-driver none` option

[2021-01-14 04:31] scodeman commented on #94
Pull request #95

[2021-01-14 15:19] CathalC2011 commented on #84
Would be great to that get that PR merged! This is also hitting us. Not using AKS, but I don't think that part is relevant.

[2021-01-17 18:32] #87 closed

[2021-01-18 06:31] tarangini-shetty opened #96 "Need info on if this tool is Prod ready currently and reasons why this shouldnt be used in prod"
Hi Team,

I kind of used this tool in my test setup.
Since I see in Readme of this repo that it's not ready for prod. Any info on why this shouldnt be used in prod. If in case those reasons doesnt apply to the cluster we are trying with, should it be ok to use in prod?
Thoughts on this might help me decide on usage of this tool further.

Thank you in advance.

[2021-01-18 18:30] bostrt commented on #96
Hi @tarangini-shetty afaik the production-readiness of ksniff is in regards to how stable its API is (command line flags, etc) and that it may not be stable enough to integrate into scripting used in prod.

If there's a security reason then I would have to defer to @eldadru to answer that.

While we're on the topic, I'll make a note of submitting a PR for including things like https://github.com/s

[2021-01-18 20:22] eldadru commented on #96
Hi all,

ksniff was never tested for performance, also - the privilege mode "breaks" out of the scope of Kubernetes and may leave stale containers on your production hosts.

[2021-01-20 23:47] bostrt opened #97 "Reduce log output"
Below is what I see when running ksniff right now. This full Pod Yaml is good for debugging, but I think normal operation should just log the Pod name and Namespace.

[code]

[2021-01-21 00:02] bostrt commented on #82
Hi all, https://github.com/eldadru/ksniff/pull/90 has been merged which includes support for `--socket` path which will address this problem. I'm closing this but please reopen if there's anything that was missed.

Note that the fix hasn't been released yet but will be upcoming after other things get merged and some more testing happens.

[2021-01-21 00:02] #82 closed

[2021-01-21 16:16] Pepsi1k opened #98 "Protocol detection doesn't work"
When I run wireshark on local machine all works fine.
But when i run `kubectl sniff -n <namespace> <pod> -p`, i see that:

![image](https://user-images.githubusercontent.com/36175709/105378368-6a73b000-5c14-11eb-84ca-d46a93194d7a.png)

Any idea?

[2021-01-29 10:43] FaKod commented on #82
Same issue at GKE.

@bostrt Is there a workaroud?

[2021-01-29 16:50] bostrt commented on #82
Hi @FaKod, Unforutnately, I don't have a reference GKE cluster. Can you make sure that `/var/run/docker.sock` is indeed where the socket lives? If it does live there, let me know and I'll open up a new issue (or feel free to go ahead and open a new one) to focus on GKE.

[2021-02-01 08:42] FaKod commented on #98
@Pepsi1k Have you found a solution?

[2021-02-01 08:45] FaKod commented on #82
@bostrt Works with current version (master) and the option --socket /var/run/docker.sock

[2021-02-01 11:44] Pepsi1k commented on #98
@FaKod Yes. The problem was in previous versions of wireshark. I installed `wireshark 3.5` and it works fine

[2021-02-01 11:44] #98 closed

[2021-02-06 01:18] bostrt commented on #82
Thanks @FaKod!

[2021-02-12 23:40] dmitrig89 opened #99 "Windows node support?"
Hi,

I'm having issues running ksniff to capture traffic on a Windows pod running inside a Windows node.
When running
`kubectl sniff -v webapi-7dc5fdc7db-6vcwt`

I get the following output:

[code]

I tried running in privileged mode, but the ksniff-privileged pod is unable to start at all, I get the following output for:

`kubectl describe pod ksniff-99nks`

[code]

I suspect I'm unable to run th

[2021-02-15 15:17] Xartos opened #100 "Wireshark/Tshark isn't reading output correctly"
## What's the issue
When I try to sniff traffic with wireshark or tshark I get an error `pcap: network type 276 unknown or unsupported` or I just get

### How to reproduce

[code]

I get the same error if I save the output to a file and then try to open it with wireshark.

However if I try to run ksniff directly to wireshark I get the traffic, but it's not able to decode it correctly
_(Although if

[2021-02-27 18:56] #65 closed

[2021-03-01 10:29] voyger8472 commented on #100
I have the same problem.
I used the version installed by kubectl krew.

[code]

[2021-03-01 17:08] bostrt commented on #100
hey @voyger8472 and @Xartos, I'll be taking a look at this issue this week to see if I can repro and fix.

[2021-03-02 10:14] anthony-pastor commented on #100
I get the same behavior on a Google Kubernetes Engine Pod.
PS: This behavior is the same when adding directly a tcpdump sidecar container!

[2021-03-03 01:36] bostrt commented on #100
Errors like `network type 276 unknown or unsupported` come up when there is a mismatch in support between the tcpdump command used to generate the capture and the tshark/wireshark used to read it. In the issues mentioned above, it looks like a rather old version of tshark and wireshark are used. However, I do acknowledge you are using LTS Ubuntu (in at least one comment).

For those of you with th

[2021-03-03 01:41] bostrt commented on #100
The container image and binary ksniff uses to generate the packet capture is relatively new hence the mismatch here.

[2021-03-03 01:48] bostrt commented on #100
@Xartos would you mind checking if you have the Ethernet proto enable or disabled? In Wireshark `Analyze -> Enabled Protocols -> Ethernet checkbox`

[2021-03-03 01:51] bostrt commented on #84
Hi all, this was merged so closing out this issue. It'll make it into the next release which I hope to tag this month.

[2021-03-03 01:51] #84 closed

[2021-03-03 01:58] bostrt commented on #99
I wish I had a Windows node (and more Windows experience) to help you out on this. I can to provide some advise though:

[code]

Above is the error that seems to start the failures. Ksniff is hardcoded to upload the static tcpdump binary to `/tmp` inside the Pod. Is `/tmp` available inside of Pods running on your Windows nodes (I feel silly having to ask this, I'm just clueless about Windows nodes

[2021-03-03 01:59] bostrt commented on #96
Hi @tarangini-shetty, I'm going to go ahead and close this but let us know if you have any more questions.

[2021-03-03 01:59] #96 closed

[2021-03-03 06:17] Niksko opened #101 "Cater for more locked down environments"
In locked down environments that use PSPs, you can't just launch a privileged pod. Example:

[code]

Once workaround for this would be to allow for the pod creating and using a `serviceAccount`. Cluster operators could then bind a permissive PSP to this known `serviceAccount` which would allow pods running as privileged with the required host PID and host path access. You could even provide the PS

[2021-03-03 07:19] Makusi75 commented on #78
Hi!
@bostrt @segeva @eldadru
Are there any updates on  this one? This would really needed for us, as we might have some restrictions of pulling images from Docker Hub, which makes us problems to use the "-p" option (that we sometime need to use).
So I really hope that this could solve that for us.
So please @bostrt @segeva @eldadru , if you have any updates on this one! ;-)
Cheers and thanks alot!

[2021-03-03 07:28] Xartos commented on #100
@bostrt Yes, the Ethernet proto is enabled.
I guess an option for Ubuntu is to add the wireshark ppa and install a newer version.

[2021-03-03 10:01] anthony-pastor commented on #100
I confirm upgrading using this repository fixed my issue, thanks!

[2021-03-03 17:49] bostrt commented on #78
Hi @Makusi75, we've recently wrapped up some of the bigger changes I mentioned back in December. I'll start taking a look at this one. Its been making ksniff unusable for me too in some lab environments.

[2021-03-03 18:59] bostrt commented on #101
Hey @Niksko, I think that's a great idea and am happy to review a PR if you submit one.

[2021-03-04 00:51] bostrt commented on #100
Great! Thanks for the updates. As much as I'd like to support stock Ubuntu LTS I'm not sure this is feasible to resolve from ksniff side. I'll go ahead and close this with a mention in the README about your fix @Xartos.

https://github.com/eldadru/ksniff#wireshark-and-tshark-cannot-read-pcap

[2021-03-04 00:51] #100 closed

[2021-03-04 07:08] voyger8472 commented on #100
@bostrt

The environment in which the error occurred was the following. In this environment, I had only tshark installed.

[code]

When I tried a new installation of Wireshark, the error did not occur anymore.

[code]

Thank you. @bostrt  @Xartos

[2021-03-05 01:37] bostrt commented on #75
Closing this to continue conversation in #78

[2021-03-05 01:37] #75 closed

[2021-03-05 01:46] bostrt commented on #78
Hello all,

I'd like to get some more input:

Ksniff has a 3 images that are either hard-coded in to either use `docker.io` or no way to override the repo name. There's potentially a 4th image coming as microk8s support is considered.

We could add options for each (e.g. `--docker-client-image`, `--containerd-image`, `--tcpdump-image`), but this seems a little unwieldy for both ksniff developer an

[2021-03-10 21:55] yashbhutwala opened #102 "command: '[/tmp/static-tcpdump -i any -U -w - ]' executing successfully exitCode: '125'"
```INFO[0006] command: '[docker --host unix:///host/var/run/docker.sock run --rm --name=ksniff-container-DuJANPie --net=container:d85aa8a04c2b805fb451a22f5b33bb4fc780737952951098d1265c990aadcc54 maintained/tcpdump -i any -U -w - ]' executing successfully exitCode: '125', stdErr :'docker: Cannot connect to the Docker daemon at unix:///host/var/run/docker.sock. Is the docker daemon running?.```

[2021-03-10 22:08] whatsbruin commented on #78
Yes, directing to a private repository would be very helpful. It might require the ability to apply a image pull secret as well.

[2021-03-11 01:38] bostrt commented on #78
Yes good point. Thanks for mentioning that.

[2021-03-11 01:39] bostrt commented on #102
Hi @yashbhutwala would you mind retrying with the latest master branch? There are some fixes in there in regards to paths to docker sockets.

[2021-03-11 16:49] yashbhutwala commented on #102
Yes latest version works, thanks @bostrt

[2021-03-11 16:49] #102 closed

[2021-03-11 21:42] bostrt commented on #72
Hi all, Are any of you still hitting this issue? I've not been able to reproduce anything similar.

[2021-03-11 21:43] bostrt commented on #73
Hi all, are you still seeing this is sue? I've not been able to reproduce it myself.

[2021-03-17 03:31] jeffcouch21 commented on #78
Yes @bostrt  I am required to provide an image pull secret as well as define a private registry (endpoint, path and version) like: <server>.<domain>/foo/<image_name>:<tag>. This would be very helpful.

[2021-03-22 19:05] davidcorbin commented on #78
Would it be possible to edit the manifest once the ksniff pod was created?

[2021-03-22 20:51] bitva77 commented on #73
I am but I am using WSL2 and so I wonder if there's something with my local environment

[code]

[2021-03-23 22:29] MichaelWasher commented on #97
/assign

[2021-03-24 01:14] bostrt commented on #97
Hi @MichaelWasher  :) I assigned the issue to you. Lemme know if you have any questions.

[2021-03-26 05:15] wajika opened #103 "ls: /tmp/static-tcpdump: No such file or directory"
According to the error, it is obvious that uploading static tcpdump failed. I don't know if this is a bug

kubernetes ver:v1.19.2

Finally, I manually copied static tcpdump to pod.
`kubectl cp ./static-tcpdump <target-pod>:/tmp/static-tcpdump`

[code]

[2021-03-29 01:15] sthaha opened #104 "Enable simultaneous packet capture of pods given a deployment, daemonset or a service"
Allow packet capturing of an entire `deployment` or a `daemonset`.
[code]

The command above would find all pods created (owned) by daemonset dns and start tcpdump of all pods, write the output to a local directory.  `--capture-node-traffic` is an optional flag that also captures the entire node traffic

You can find a [POC here](https://github.com/sthaha/k8s-utils/tree/main/tools/tcpdump) that ma

[2021-03-29 01:17] sthaha commented on #104
@bostrt @eldadru , please feel free to assign this to me if you feel this feature is worth adding.

[2021-03-29 22:36] bostrt commented on #104
I think this is a fantastic idea @sthaha. Please let me know if you have any questions during development!

[2021-03-30 01:42] MichaelWasher commented on #97
@bostrt Finally got around to looking at this. Is this all that was wanted? #105

[2021-04-01 07:47] jerem0808 commented on #78
As a small workaround. Could we maybe at least change the pullpolicy to IfNotPresent?
So we could load manually the needed image on the nodes and it would be fetch locally

[2021-04-02 22:42] #97 closed

[2021-04-02 22:58] bostrt commented on #78
@jeffcouch21 thanks for the reminder about pull secret. That will be included in the feature.

Since the ksniff Pod is deployed as Pod (not a Depoyment, etc) we can't edit it live. A viable option would be to have ksniff export Pod YAML so the user can create it manually but I'm not a fan of that at least for now. It would require considerable reworking in other parts of ksniff.

Yeah, I'll keep t

[2021-04-05 04:34] MichaelWasher opened #106 "Add Testing to the CI Deployment"
Currently `make test` is not run as part of the CI/CD pipeline and could result in breaking changes.

From what I can see, the `make test` unit-tests require access to a Kubernetes deployment. Could be related to #31 but I think that getting the current implementation of testing working on PRs before implementing new e2e tests.

[2021-04-07 00:46] bostrt commented on #106
AFAIK the tests don't require access to a cluster right now which is why they are quite limited right now. However, if we can test in a Kind cluster as you are doing in #107 it would open the door to some waayy better testing.

[2021-04-15 08:35] hendrikmaus opened #109 "Privileged pod can't be created on Kubernetes 1.20 (v1.20.5-gke.101)"
I am trying to create a privileged pod on Kubernetes 1.20 (`v1.20.5-gke.101`) using the `-p` option and `knsiff` will run into a timeout error.
Inspecting the pod, it tries to create, yields:

[code]

[2021-04-16 10:03] CezarManea opened #110 "Context was not found for specified context"
Latest version of ksniff (v1.6.0) does not work with KUBECONFIG environment variable that was multiple config files.
All works of with a single config file or the first config file in the list.
**kubectl** works ok and also **kubectl config view** looks ok.
`
➜ kubectl sniff demo -n default
Error: invalid configuration: [context was not found for specified context: minikube, cluster has no server

[2021-04-17 22:54] bostrt commented on #109
Hi @hendrikmaus,

Thanks for reporting this issue! Can yo please try specifying the `--socket /run/docker.sock` flag to see if that helps? If not, can you try SSH'ing to one of your nodes and checking where the `docker.sock` file really lives?

[2021-04-17 23:36] #103 closed

[2021-04-18 00:40] bostrt commented on #110
Hi @CezarManea,

Thanks for reporting this issue. I see the same thing on my side. We'll have to rework how the kubeconfig is loaded to address this. I'll submit a PR and it should be included in next release of ksniff.

[2021-04-21 08:09] Makusi75 commented on #78
Hi! @bostrt Any news about this one? When this might be implemented in some release? ;-)
Thanks! :-)

[2021-04-27 11:22] hendrikmaus commented on #109
Sry for the delay, `docker.sock` lives in `/run/docker.dock` on those machines, however `/var/run` is a symlink to `/run`.

And I must apologize: I was using an older version of sniff; I upgraded to the latest and the issue is resolved.

[2021-04-27 11:22] #109 closed

[2021-06-19 05:12] szihai commented on #78
Yeah. Facing the same problem with maintained/tcpdump:latest image.

[2021-06-25 15:50] bostrt commented on #78
Hi @Makusi75 @szihai, sorry for the delay. I'm coming back around to this after recent change in day-job and long vacation :)

[2021-06-25 21:20] bostrt commented on #78
Currently reviewing https://github.com/eldadru/ksniff/pull/113

Thanks @kdihalas!

[2021-06-25 21:56] bostrt commented on #78
#113 has been merged!

I would appreciate more testing from anyone else with access to environments like AKS or EKS to test.

[2021-07-06 09:08] horihel opened #114 "copy step fails"
[code]
(logs have been redacted (pod names, namespaces) to not leak private information)

Shelling into the pod reveals that the file has not been copied, tar exists (it's an dotnetCore asp image).

Copying manually with `kubectl cp` (and making it executable with chmod) works and "sniff" works fine if the file already exists in /tmp/static-tcpdump.

i'm running kubectl and krew on windows.

[code

[2021-07-06 19:01] tibbon opened #115 "k3d containerd error on priviledge pod startup"
When I run:

[code]

I'm seeing this error in the pod description:

[code]

I believe this is because I'm running in a k3d cluster that uses Containerd instead of Docker.

[2021-07-09 18:02] houshym opened #116 "can not run sniff in k3s cluster"
I tried to run sniff on my k3s cluster and I am getting the following error

INFO[0000] waiting for pod successful startup
INFO[0014] pod: 'ksniff-sfbwk' created successfully on node: 'k8s-worker2'
INFO[0014] spawning wireshark!
INFO[0014] starting remote sniffing using privileged pod
INFO[0014] executing command: '[/bin/sh -c
    set -ex
    export CONTAINERD_SOCKET="/run/containerd/containerd.so

[2021-07-16 12:24] mrszop commented on #110
Hey,

is this issue still open? I'm getting the same message after todays installation:

[code]

[code]

Cheers

[2021-07-27 03:25] Delacroix opened #117 "ksniff is not supported in mbp m1"
$ kubectl krew install sniff
Updated the local copy of plugin index.
Installing plugin: sniff
W0727 11:18:05.386333   58255 install.go:164] failed to install plugin "sniff": plugin "sniff" does not offer installation for this platform
F0727 11:18:05.386387   58255 root.go:79] failed to install some plugins: [sniff]: plugin "sniff" does not offer installation for this platform

---------
When I tri

[2021-08-06 15:18] bostrt commented on #117
@Delacroix I'm not familiar with building for Apple M1 (beyond knowing its ARM based). If possible, can you please try building ksniff like this and testing with the resulting binary?

[code]

[2021-08-06 15:51] bostrt commented on #114
Hello! This was fixed in https://github.com/eldadru/ksniff/commit/1fdbb730aced964da522036958b77228b59a3716 and will be shipped in an upcoming release.

[2021-08-06 15:51] #114 closed

[2021-08-06 16:51] bostrt commented on #115
Can you try running ksniff including this argument: `--socket /var/run/k3s/containerd/containerd.sock`

[2021-08-06 22:54] bostrt commented on #106
I spent some time today getting some GitHub Actions configured which perform unit tests and then various e2e tests on actual k8s clusters.

[2021-08-09 06:52] Delacroix commented on #117
Thank you! After trying this, problem solved!

[2021-08-09 06:52] #117 closed

[2021-08-09 06:52] Delacroix commented on #117
problem solved

[2021-08-10 14:33] bostrt opened #120 "Improve e2e tests (GH actions)"
GitHub actions for e2e tests were added recently. Right now, the tests are very basic, aren't resilient to failure and may provide bad signals for failure.

[2021-08-22 18:21] RM250702 commented on #88
I have similar issue in my windows. Please help me..thanks
time="2021-08-22T23:43:38+05:30" level=info msg="file found: '-rw-rw-rw- 1 root root 2696368 Aug 22 18:02 /tmp/static-tcpdump\n'"
time="2021-08-22T23:43:38+05:30" level=info msg="file was already found on remote pod"
time="2021-08-22T23:43:38+05:30" level=info msg="tcpdump uploaded successfully"
time="2021-08-22T23:43:38+05:30" level=info

[2021-08-22 18:22] RM250702 opened #122 "Error: exec: "wireshark": executable file not found in %PATH%"
This is in my windows pc. please help. Thanks
time="2021-08-22T23:43:38+05:30" level=info msg="executing command: '[/bin/sh -c ls -alt /tmp/static-tcpdump]' on container: 'nginx', pod: 'nginx-6799fc88d8-vlkxc', namespace: 'default'"
time="2021-08-22T23:43:38+05:30" level=info msg="command: '[/bin/sh -c ls -alt /tmp/static-tcpdump]' executing successfully exitCode: '0', stdErr :''"
time="2021-08-22

[2021-08-28 01:37] houshym commented on #116
same issue and I ran
kubectl  sniff prometheus-rancher-monitoring-prometheus-0 -n cattle-monitoring-system --privileged --socket /run/k3s/containerd/containerd.sock. but I got the following error
[code]

[2021-08-28 02:01] houshym opened #123 "cannot run with termshark"
I ran
k sniff nginx --privileged --socket /run/k3s/containerd/containerd.sock -f "port 80" -o - |  /var/lib/snapd/snap/bin/termshark

i got the following error

Error running command [command: /usr/bin/tail tail -f -c +0 /root/snap/termshark/625/.cache/termshark/pcaps/_dev_fd_0--2021-08-27--21-59-46.pcap, error: exit status 1]

[2021-08-29 19:01] dntosas opened #124 "Update Krew Index with v1.6.1"
Hey @eldadru, thanks for you nice job in here :)

Would be possible to update the version of the plugin into Krew Index so https://github.com/eldadru/ksniff/issues/114 is mitigated?

[2021-08-29 19:02] dntosas commented on #124
I tried to open a PR in Krew directly but it seems on latest release the zip file was never published to calculate the sha256 needed

[2021-08-31 01:29] houshym commented on #116
@cmdjulian  any clue? I tried that one and it does not work.

[2021-09-09 09:03] moonape1226 commented on #72
I was hitting the same error but using -p flag does help.
Thanks @kppullin

[2021-09-10 19:57] cmdjulian commented on #116
The command which made it work for me was with the following:

[code]

I'm also using a quiet recent version of k3s, 1.21. Maybe thats an issue on your side as well?

[2021-09-10 20:47] houshym commented on #116
Unfortunately  I cannot run it.

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.4+k3s1", GitCommit:"3e250fdbab72d88f7e6aae57446023a0

[2021-09-12 11:56] mindw commented on #124
Travis.org is dead -
![image](https://user-images.githubusercontent.com/578872/132986590-a1ff75be-5c32-4f68-9f5b-02b95024ac17.png)
So it may be that the tag zip upload never happened for 1.6.1?

[2021-09-12 14:45] bostrt commented on #124
That's my mistake. I'll work on fixing this unless eldadru gets to it first.

On Sun, Sep 12, 2021, 5:56 AM Gabi Davar ***@***.***> wrote:

[2021-09-16 08:30] shibumi commented on #110
Hi,
I get the same error .. looks like this is still open :(

[2021-09-17 07:37] MichaelWasher commented on #104
/assign

[2021-09-17 16:17] bostrt commented on #104
@MichaelWasher unfortunately no bot here to assign with :) I re-assigned to you manually

[2021-09-17 18:01] bostrt commented on #124
Pending https://github.com/kubernetes-sigs/krew-index/pull/1560

[2021-09-17 19:06] bostrt commented on #124
v1.6.1 is now published in the Krew index. Apologies on missing this, I've opened https://github.com/eldadru/ksniff/pull/126 to automate this in GitHub Actions now instead of non-existent travis-ci.org :)

[2021-09-17 19:06] #124 closed

[2021-09-20 18:33] Makusi75 commented on #78
@bostrt any progress in this?
Was it more testing that was needed?
Or anybody else that got a working solution for this?

[2021-09-26 07:08] MichaelWasher commented on #120
Can we discuss the kind of test-list / framework that we should write this in?  (GoLang / Python)

[2021-09-26 07:11] MichaelWasher commented on #104
@bostrt I wrote some code to work towards this but there needs to be quite a change to the CLI arch so want to have a call to discuss what we should do about this.

I think hooking into the Kubectl libraries to do the resource parsing/extracting and argument parsing will make it feel more like an oc / kubectl command when ksniff is called.

[2021-09-27 06:29] MichaelWasher opened #130 "Pods are not removed on Ctrl +C"
Ksniff does not react gracefully to SIGINT / SIGTERM signals.

This can result in zombie Pods remaining when using the Privileged sniffer.

[2021-09-27 07:31] MichaelWasher commented on #130
This should do the trick but wasn't sure if we also wanted to catch the SIGTERMs incase the application is run inside Kube Pods. @bostrt Would be handy to have a discussion about where you think the signal handler should go.
https://github.com/eldadru/ksniff/pull/131

[2021-09-27 07:31] MichaelWasher commented on #130
/assign

[2021-10-11 20:11] alancdias7 opened #132 "Failed to deploy Ksniff on AKS - Failed volume mount"
Good afternoon, how are you?

I would like help deploying the ksniff pod.

I performed the installation according to the doc, however the pod was not being deployed, so I found information to run the command with the parameter: --socket /run/k3s/containerd/containerd.sock

![image](https://user-images.githubusercontent.com/53276043/136849726-47068678-e73d-403b-a770-d84d058a647d.png)

![image](http

[2021-10-19 06:29] fenngwd opened #134 "Support Apple Silicon M1"
Hi all, I'm using macOS for my daily working. It seems ksniff needs support Armv64 architecture in Apple M1.

I have contributed a PR which supported M1 in release stage.

[2021-10-19 06:30] fenngwd commented on #134
Could anyone help to review this pull request👆👆👆

[2021-11-09 03:44] zyddnys opened #135 "Failed to execute error code 126"
I was running ksniff on a remote headless k8s cluster, with command `k sniff af1-0 -n plmn-mnc99-mcc208 -o af.pcap`, however I got the following error:
[code]
Any idea how to fix this?

[2021-11-10 21:09] bwilczynski opened #136 "Setting images via environment variables not respected"
Setting environment variables for image and tcpdump-image is not respected. Only passing those values as flags works.

[2021-11-12 14:34] TomyLobo commented on #115
For the record: I had the same error and found that socket using `find / -type s`. passing the suggested flag solved this issue for me.
I'm having other issues, though :)

[2021-11-12 14:50] TomyLobo opened #138 "WTAP_ENCAP = 0"
# Environment
I'm running a 2-node k3s cluster. Both nodes run on k3os.
I installed krew and then ksniff, as described here:
- https://krew.sigs.k8s.io/docs/user-guide/setup/install/
- https://github.com/eldadru/ksniff#installation

Client OS is Kubuntu 18.04.
WireShark version is 2.6.10 (Git v2.6.10 packaged as 2.6.10-1~ubuntu18.04.0).
kubectl is installed from a [snap](https://snapcraft.io/kubec

[2021-11-12 15:02] TomyLobo commented on #138
ok, I think I figured it out. This commit from WireShark 3.3.0 adds support for network type 276 (LINKTYPE_LINUX_SLL2):
https://github.com/wireshark/wireshark/commit/7e7db3e91ce50f1f3ba35f88aff83c66b5f9bf97
So basically I either need to upgrade WireShark or tell ksniff to write as Linux "cooked" capture encapsulation v1 instead if v2.

[2021-11-12 15:09] TomyLobo commented on #138
I think passing something (I don't know what) through the "-y" parameter of tcpdump would help, but I don't see a way to do that with ksniff.
Or maybe a downgrade of the tcpdump container would help?

[2021-12-02 16:30] skyhisi commented on #65
To get it working on MicroK8s in privileged mode I needed to create a wrapper script on the MicroK8s host as `/usr/bin/ctr` and specify the socket path.

Wrapper script `/usr/bin/ctr`
[code]

Example command:
[code]

[2021-12-08 12:08] gudipudipradeep opened #140 "for windows pods it's failing. when we"
`Events:
  Type     Reason       Age                 From     Message
  ----     ------       ----                ----     -------
  Warning  FailedMount  59s                 kubelet  Unable to attach or mount volumes: unmounted volumes=[container-socket], unattached volumes=[container-socket host default-token-zrwjq]: timed out waiting for the condition
  Warning  FailedMount  54s (x9 over 3m1s)

[2022-01-21 21:18] #136 closed

[2022-01-29 09:41] wd commented on #110
a workaround for this is to run the command like this `KUBECONFIG=path/to/the/file kubectl sniff xx`

[2022-02-14 20:12] #134 closed

[2022-02-17 01:09] pcgeek86 commented on #72
I have the same problem. Windows 11.

[code]

[2022-02-23 08:28] torbendury opened #141 "Which default tcpdump filters/plugins are used?"
Hello everyone!

First of all, thanks for this great tool, it recently has been really useful when debugging strange network actions inside k8s.

One question: What is the default tcpdump command used when running `kubectl sniff <pod> -c <container>`? It seems not every kind of traffic is shown by default.

[2022-02-23 08:33] torbendury commented on #141
Nevermind, it seems I'm kinda blind. Running `sniff` was sufficient to get the information:

[code]

[2022-02-23 08:34] #141 closed

[2022-03-10 13:27] ricarhincapie commented on #72
I got the same working with Kubernetes 1.19, Istio 1.9.9:
`ERRO[0005] failed to start remote sniffing, stopping wireshark  error="executing sniffer failed, exit code: '126'"`,
and flag `-p` worked.

[2022-04-23 15:40] andel7 opened #143 "Annotation fork ksniff"
Hi,

I want to troubleshoot Consul service mesh that is configured to inject sidecar by default. Ksniff pod can't even start due to consul inject. Consul has the ability ignore specific pods by adding annotations.

Is is possible to define annotations on the pod created by ksniff ?

[2022-05-10 20:07] frouzbeh commented on #116
I'm having trouble running ksniff on rke2 cluster:

[code]

Any idea how to fix it?

[2022-05-13 19:10] laurie-kepford opened #144 "Run scheduled and in the backgroud"
I am trying to troubleshoot issues with two containers in the same pod.  I have kubectl and sniff installed on my linux host.

I can run the following and it works:
kubectl sniff pod-id -n namespace -c container1 -o ~/folder/container1"`date +"%d-%m-%Y-%H-%M"`".pcap
kubectl sniff pod-id -n namespace -c container2 -o ~/folder/container2-"`date +"%d-%m-%Y-%H-%M"`".pcap

However, I have to open two t

[2022-05-19 13:50] laurie-kepford commented on #144
I was able to create a script that I could schedule with cron.  Actually there are two.  One to start it every hour and one to stop it at the end of each hour.  So I end up with one hour chunks of data.  Hope this helps someone else.

the start script looks like this:
[code]
The kill script looks like this:
[code]

[2022-05-19 13:50] #144 closed

[2022-06-01 09:00] MichaelWasher opened #145 "Clean up logging"
We should clean up the logging and output less in the INFO level, shifting a lot of the logs to a DEBUG level

[2022-07-14 05:15] acemaster opened #146 "Sniff multiple pods in the same namespace at a time"
As part of a research project I needed to analyse the network interactions between multiple pods at the same time. Is it possible to use ksniff to do so? I see currently pod name is a required parameter so was seeing if there is any workaround to the same without starting multiple pods to do so.

[2022-07-18 19:06] bostrt commented on #146
Unfortunately that's not possible with ksniff at this time. There was some work happening in https://github.com/eldadru/ksniff/pull/129. @MichaelWasher do you know how far along the PR is or if its worthwhile finishing?

[2022-07-18 19:07] bostrt commented on #143
I think adding an annotation to the ksniff pods would be straightforward. However, I would like to understand your issue a little better.

Can you share the ksniff error you are receiving?

[2022-07-18 19:08] bostrt commented on #140
What version of ksniff are you using?

[2022-07-18 19:10] bostrt commented on #138
There's a mention of wireshark in the known issues section of readme but I think adding a clearer version requirement is needed. I'll get that in!

[2022-07-18 19:16] #138 closed

[2022-07-18 19:16] bostrt commented on #138
https://github.com/eldadru/ksniff/blob/master/README.md#wireshark

[2022-07-20 01:17] bostrt opened #148 "Can't use MacOS /etc/resolver"
MacOS /etc/resolver can only be used if ksniff is compiled with `CGO_ENABLED=1`. However, automated builds via GitHub Actions aren't possible or I just can't figure it out.

https://github.com/eldadru/ksniff/pull/142 was originally submitted and merged before the build issues were found. The change was reverted here https://github.com/eldadru/ksniff/commit/807044018702790e45d233eafd16e689f7dc5171

[2022-07-20 09:28] Ri1a commented on #20
Getting the following error message:
[code]

K8s version: v1.23.3

[2022-07-20 13:10] bostrt commented on #148
I'm happy to receive any input on using CGO and cross building for MacOS.

[2022-07-20 13:21] ruben-rodriguez commented on #143
In a similar fashion, it would be nice to be able to add custom labels to the pods and also specify resource requests/limits:

[code]

And also requests and resources like:
[code]
I'm currently following this approach in a personal fork, though not sure if this is a feature that should be implemented for the general use of the tool.

In regards to the use-case, and speaking for myself (I'm not the

[2022-07-20 16:36] ruben-rodriguez opened #149 "Support custom labels + resources in ksniff pods"
Some environments have admission webhook policies so that labels and resources must be provided to run workloads:

[code]

I'm currently following this approach in a personal fork (modifying kubernetes_api_service.go), though not sure if this is a feature that should be implemented for the general use of the tool.

[code]
And also resources requests and limits like:

[code]

[2022-07-25 15:17] juan-vg opened #150 "Invalid configuration error due to context not found"
### Problem

When using several kubeconfigs referenced by the `KUBECONFIG` env var (colon separated paths), this plugin doesn't work. Not even when referencing the specific config file.

[code]

### Workaround

I managed to make it work by doing the following steps
1. Unset the KUBECONFIG var
2. Remove the main config file (~/.kube/config)
3. Copy the contents of the desired config file to the mai

[2022-07-25 15:22] juan-vg commented on #150
As far as I understand the `-x` flag is intended to specify a context name, not a kubeconfig file (which is what I tried). Just mention I've also tried to specify the context name using that flag and the result is the same.

The problem looks to come from the fact I'm using several kubeconfigs at the same time, which should not be an issue.

[2022-07-26 20:13] bostrt commented on #150
I think https://github.com/eldadru/ksniff/commit/80a5e9f472bed46bcc331a48d36654f8263b4bc6 resolves this issue. Would you mind building from the master branch to see if it indeed helps?

[2022-07-27 07:26] juan-vg commented on #150
Oh, my bad. This looks like a duplicate of #110. I will check it ASAP and come back with feedback. Thank you @bostrt

[2022-07-27 14:53] bostrt commented on #94
#95 merged :smiley:

[2022-07-27 14:53] #94 closed

[2022-07-29 14:37] fefer opened #151 "Error: exit status 1"
Hi,

Installed ksniff using krew and I am getting the following error:

[code]

OS Version: 18.04
Wireshark: 3.6.5

Am I doing something wrong? Can someone give me a hint?

Thank you in advance!

[2022-07-29 14:53] bostrt commented on #151
Hi @fefer!

I'm not immediately sure what the problem is to be honest. I think the logging needs to be improved a lot but I'll track that in a separate issue.

Can you tell me which version of ksniff you are using?

`$ kubectl krew list `

[2022-07-29 15:33] bostrt commented on #130
Addressed in https://github.com/eldadru/ksniff/pull/147

[2022-07-29 15:33] #130 closed

[2022-08-01 20:35] sandeep223 opened #153 "In openshift 4.7 and higher we are unable to run oc sniff when namespaces have quotas enabled"

[2022-08-01 21:30] sandeep223 commented on #153
Once we remove the quotas associated with namespace we we can generate the trace

[2022-08-04 19:13] aaronchoi5 commented on #140
Will this not work for windows pods?

 time="2022-08-04T12:06:49-07:00" level=info msg="pod: 'ksniff-8rscb' created successfully in namespace: 'test'"
time="2022-08-04T12:06:49-07:00" level=info msg="waiting for pod successful startup"
time="2022-08-04T12:07:49-07:00" level=error msg="failed to create privileged pod on node: 'xxxxxx" error="failed to create pod within timeout (1m0s)"
Error: failed

[2022-08-05 13:09] bostrt commented on #140
Ksniff hasn't been tested with Windows Pods yet. We've had to make special customizations for each container runtime so that ksniff could run with them and I think Windows Pods will require something similar.

I'm not in a position to work with Windows Pods so I would be open to a PR from anyone in the ksniff community.

At first glance, we might need to know why exactly the Pod can't be created:

[2022-08-05 16:14] bostrt commented on #143
@andel7 Do you know if Consul can use a Label instead of an Annotation?

[2022-08-05 16:16] #149 closed

[2022-08-05 16:16] #153 closed

[2022-08-07 18:43] roostergr opened #154 "support tshark?"
Hi,
any chance ksniff will support also tshark in the near future?

Cheers

[2022-08-07 18:52] bostrt commented on #154
Hi! It's not in the roadmap for the near future and no research has been done on how it would work exactly but I can see the value for users that want an interactive experience without a GUI.

In the meantime you can use the -o flag to save a pcap and then review it in tshark.

[2022-08-08 10:06] roostergr commented on #154
Hey thanks!
I can verify that I can review the file on tshark.

[2022-08-08 10:06] #154 closed, assigned to nobody

[2022-08-18 14:37] ZeroDeltaAlpha commented on #72
I can get this issue when my nodes try to spin up the pod and Kubernetes set the pod to status "Outofcpu" and then the 126 failure code is due to the pod timing out being created, this may explain some of the above issue. hope this helps someone.

[2022-08-26 07:38] seb54000 opened #155 "netns return empty string so nothing is ever captured"
Hi,
I'm really interested into testing ksniff. I just install it on an AWS standard AMI with a local microk8s cluster installed along with docker as container runtime.

I have a simple webserver where I launch ksniff on. But there is never a single packet coming in wireshark (or stdout when I launch just ksniff with -o -). Of course I make in parralel plenty of HTTP request to the simple webserver

[2022-08-26 08:06] seb54000 commented on #155
Still searching from my side, I just see that despite I'm installing docker runtime through yum on the AMI, it also installs containerd. SO microk8s seems to use containerd and this is why ksniff uses the containerd config. Mays this be linked with my problem ?
[code]

[2022-08-26 08:11] seb54000 commented on #155
I'm really not sure of what container runtime microk8s is using...
https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use/#:~:text=If%20the%20%2D%2Dcontainer%2Druntime%2Dendpoint%20flag%20is%20present%2C,sock%20is%20the%20containerd%20endpoint.
[code]

According to the link:  if the --container-runtime flag is not remote, you use the dockershim socke

[2022-08-26 08:19] seb54000 commented on #155
I just try to switch microk8s to docker for container-runtime (https://stackoverflow.com/questions/61119975/is-it-possible-to-set-microk8s-to-use-docker-engine-instead-of-containerd ) but it doesn't work, the cluster do not launch any pods and no events

Kubelet logs are clearer after checking (sorry)
`août 26 08:13:51 ip-172-31-16-109.ec2.internal microk8s.daemon-kubelite[3913]: Error: failed to

[2022-08-26 08:21] seb54000 commented on #155
For information, kubelet conf is as following
[code]

[2022-08-26 08:30] seb54000 commented on #155
With help of ps, I guess there is a mismatch between containerd socket used by microk8s and the one (default containerd) where ksniff is inspecting the containers to get network infos

[code]

`--address /var/snap/microk8s/common/run/containerd.sock`

[2022-08-26 08:35] seb54000 commented on #155
When I use the ctr command from microk8s, I can have kind of inspect but the jq command is not working.
The problem is : how to give ksniff the info about the contaierd sock to use : seems related to : https://github.com/eldadru/ksniff/issues/65

[code]

[2022-08-26 08:38] seb54000 commented on #155
Grrr, I don't understand

[code]

` container "ksniff-container-YIVNUQiY" in namespace "k8s.io": not found`

But...

[code]

[code]

[2022-08-29 06:02] seb54000 commented on #155
Hello, still searching if you have any ideas.
I did the whole test https://github.com/eldadru/ksniff/issues/65#issuecomment-984790977 reffered by @skyhisi including wrapper for /usr/bin/ctr (I made a backup of the ctr binary)

Thi works a bit better (wireshark is lauching and the right network seems to be found) but an another error occur :
`ctr: failed to create temp dir: stat /run/user/0/snap.mi

[2022-08-29 19:14] GNUGradyn commented on #114
I believe I am experiencing the same issue
[code]

EDIT: seems to work fine on other pods, just not the ingress gateway

[2022-08-29 19:28] GNUGradyn commented on #114
nevermind, using the -p flag solved it

[2022-08-30 20:10] bostrt commented on #155
hey @seb54000 i just want to acknowledge your issue. I haven't dug into yet but I plan to soon. The microk8s bridge for ksniff is pretty complicated so there's a lot to look at, as you have!

[2022-09-03 07:37] seb54000 commented on #155
Thanks @bostrt , no hurry here, it is just for testing. When we will figure out how to cope with my microk8s config I will be happy to contribute a README in the repo for this "specific" use case.

[2022-09-13 12:38] a-mazed commented on #140
I have another error

[code]

I think it's because of plugin trying to use linux binary in windows container.
There should be another approach

[2022-10-07 10:31] gyuvaraj10 commented on #132
We can't get this working on windows nodes. Is there any update on this ticket?

[2022-10-10 07:47] gyuvaraj10 commented on #99
Is there any update on this issue?